nav {
	@apply fixed w-max flex gap-8 px-6 py-4 bg-zinc-950 border border-zinc-600/20 rounded-3xl items-center backdrop-blur top-8 left-1/2 -translate-x-1/2 z-50 font-mono text-sm;
}

@property --rotate {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.gradient-border {
	@apply absolute inset-0 rounded-3xl;
	z-index: -1;
	--rotate: 0deg;
	--borderWidth: 3px;
	&:before {
		@apply absolute inset-0 rounded-3xl;
		content: '';
		background: conic-gradient(from var(--rotate), transparent 0%, white 5%, transparent 10%);
		animation: animatedgradient 3s linear infinite;
	}
	&:after {
		@apply bg-zinc-950 absolute inset-[1px] rounded-3xl;
		content: '';
	}
}

@keyframes animatedgradient {
	to {
		--rotate: 360deg;
	}
}
