@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.back-gradient {
		background: linear-gradient(90deg, #fb923c 0%, #fb5822);
		/* background: linear-gradient(90deg, #c41c76 0%, #4f0c97); */
		height: 100%;
		width: 100%;
		z-index: -1;
		position: absolute;
		filter: blur(100px);
		transition: all 0.2s ease-in-out;
		opacity: 5%;
	}
}

:root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-color: #000;
	color: white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	position: relative;
}

body::-webkit-scrollbar {
	/* width: 3px; */
	display: none;
}

body::-webkit-scrollbar-track {
	background: #00000000;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
}

.grain:after {
	content: '';
	background-image: url('/assets/images/noise.webp');
	height: 300%;
	width: 300%;
	position: fixed;
	opacity: 0.06;
	z-index: 50;
	animation: animateGrain 8s steps(10) infinite;
}
@keyframes animateGrain {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, -20%);
	}
	30% {
		transform: translate(-5%, -10%);
	}
	40% {
		transform: translate(-15%, -20%);
	}
	50% {
		transform: translate(-5%, -10%);
	}
	60% {
		transform: translate(-15%, -20%);
	}
	70% {
		transform: translate(-5%, -10%);
	}
	80% {
		transform: translate(-15%, -20%);
	}
	90% {
		transform: translate(-5%, -10%);
	}
	100% {
		transform: translate(-15%, -20%);
	}
}

nav {
	@apply fixed w-max flex gap-8 px-6 py-4 bg-zinc-950 border border-zinc-600/20 rounded-3xl items-center backdrop-blur top-8 left-1/2 -translate-x-1/2 z-50 font-mono text-sm;
}

@property --rotate {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.gradient-border {
	@apply absolute inset-0 rounded-3xl;
	z-index: -1;
	--rotate: 0deg;
	&:before {
		@apply absolute inset-0 rounded-3xl;
		content: '';
		background: conic-gradient(from var(--rotate), transparent 0%, #f97316 5%, transparent 10%);
		animation: animatedgradient 3s linear infinite;
	}
	&:after {
		@apply bg-zinc-950 absolute inset-[2px] rounded-3xl;
		content: '';
	}
}

@keyframes animatedgradient {
	to {
		--rotate: 360deg;
	}
}
